# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
# Allow emission schedule JSON (needed by frontend)
!.ultra/docs/emission-schedule.json

# Dotenv file
.env
deployments
doce*
lib/*
.spec-workflow

